<div class="side-info">
      <div class="side-info-content">
        <div class="offset-widget offset-header">
          <div class="offset-logo" 
          style="
          display: flex;
          justify-content: center;">
            <a href="index.html">
              <img src="assets/imgs/projects_img/White_2.PNG" width="80" height="80" alt="site logo" loading="lazy">
            </a>
          </div>
          <button id="side-info-close" class="side-info-close">
            <i class="fas fa-times"></i>
          </button>
        </div>
        <div class="mobile-menu d-xl-none fix mt-2"></div>
<div class="offset-widget-box mt-2">
          <div class="contact-meta">
            <div class="contact-item">
              <span class="icon"><i class="fa-solid fa-calendar-days"></i> </span>
              <span class="text">طوال الأسبوع على مدار الساعة</span>
            </div>
            <div class="contact-item">
              <span class="icon"><i class="fa-solid fa-envelope"></i></span>
              <span class="text"><a href="mailto:info@versaisa.net">info@versaisa.net</a></span>
            </div>
            <div class="contact-item">
              <span class="icon"><i class="fa-solid fa-phone"></i></span>
              <span class="text"><a href="tel:920031969">920031969</a></span>
            </div>
          </div>
        </div>
      </div>
    </div>