    <div class="header-main mx-0">
      <div class="container-fluid large ">
        <div class="header-area-2__inner d-flex flex-column">
          <div class="header__navicon">
            <button class="side-toggle"><img src="assets/imgs/icon/icon-2.webp" alt="image" loading="lazy"></button>
          </div>
          
         
          
         
          <div class="header__logo w-100 d-flex align-items-center justify-content-between px-3 text-center align-items flex-row border_header">

            <div class="line_hr col-5">
              <hr class="my-4" style="border-top: 2px solid #fff;">
            </div>

            <a href="index.html">
              <img src="assets/imgs/projects_img/White_2.PNG" width="120" height="60" class="normal-logo" alt="Site Logo" fetchpriority="high">
            </a>

            <div class="line_hr col-5">
              <hr class="my-4" style="border-top: 2px solid #fff;">
            </div>

          </div>
 <div class="button_header2 d-flex w-100">

            <div class="header__nav mx-0 pos1-center">
            <nav class="main-menu">
              <ul>
                <li class="mx-3"><a href="about.html" style="font-size: 20px;">عن فرساي</a></li>
                <li class="mx-3"><a href="portfolio.html" style="font-size: 20px;">مشاريعنا</a></li>
                <li class="mx-3"><a href="map.html" style="font-size: 20px;">الخريطة العقارية</a></li>
              </ul>
            </nav>
          </div>
          
         <!-- <div class="button_header">
            <button class="">
                  <a class=" header-button"  href="https://wa.me/0559604044" target="_blank">
                تواصل معنا
              </a>
            </button>
          </div>-->
          
          </div>
          

        </div>
      </div>
    </div>